
section{
    padding: 1rem 1rem;
    color: #444;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(196, 195, 195);
    margin: 2rem 7rem 0rem;
}
form{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1rem;
    margin-bottom: .2rem;
}
input{
    outline: 0;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 1rem;
}
input:focus{
    border: 1px solid rgb(0, 109, 109);
}
button{
    background-color: rgb(0, 109, 109);
    border: 0;
    outline: 0;
    border-radius: 5px ;
    width: 3.5rem;
    height: 2.5rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}