.App {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  list-style: none;
}
.container{
  max-width: 100%;
  min-width: 100%;
}
@media screen and (min-width:1536px) {
  .container{
      max-width: 1536px;
      min-width: 1536px;
  }
}
main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer{
  font-size: 1.4rem;
  padding: 1rem;
  color: aliceblue;
  font-weight: bold;
  background-color: rgb(24, 94, 71);
}
.contacts{
  text-align: center;
}
.ContactDetail{
  padding: 1rem;
}
@media screen and (max-Width:480px) {
 footer{
  font-size: 1.1rem;
 }
}


